
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap');

*{
    font-family: "poppins",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:url(fotograflar/Leaf\ 4.jpeg);
}

nav ul li a{
    color:#C7B7A3;
    text-decoration: none;
    margin-left: 35px;
    padding: 5px;
  
}
nav ul li a:hover{
    text-decoration: underline;
    transition: 2s;
    color:#C7B7A3;
}
nav{
    background-color: #561C24;
}
nav ul{
    text-align: center;
}

.div{
    max-width: 800px;
    background-color: #f6f4f3;
   margin-top: 20px;
   padding-bottom: 60px;
}

.col{
    background-color:#f6f4f3;
}

.name input{
    width: 220px;
    height: 35px;
    margin-top: 40px;
    margin-left: 30px;
    
}

 .radio{
    padding: 40px;
    padding-top: 0px;
 }
 
.check {
    padding: 40px;
}
.text{
    padding: 40px;
    padding-top: 15px;
}
.sub input{
width: 120px;
height: 40px;
margin-bottom:20px ;
}

