@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap');

*{
    font-family: "poppins",sans-serif;
    margin: 0px;
    padding: 0px;
}

.div{ 
    padding-top: 5px;
    
    background-color:#F9F5E7;
    text-align: center;
}

.main{
    background-image: url(fotograflar/Leaf\ 4.jpeg);
    background-position: center;
}

.home{
    min-height:100vh;
    background:url(fotograflar/kale.jpg) no-repeat;
    background-size: cover;
    background-position: center;
 
}
.home .content h1{
    font-size: 80px;
    padding-top: 80px;
    padding-left: 120px;
    color:#561C24;

}

.sınır{
    margin-left: 70px;
} 

nav ul li a{
    color:#C7B7A3;
    text-decoration: none;
    margin-left: 35px;
    padding: 5px;
  
}
nav ul li a:hover{
    text-decoration: underline;
    transition: 2s;
    color:#C7B7A3;
}
nav{
    background-color: #561C24;
}
nav ul{
    text-align: center;
}