@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap');

*{
    font-family: "poppins",sans-serif;
    margin: 0px;
    padding: 0px;
}
.navbar-nav .nav-item a.nav-link:hover {
    color:#F9F5E7; /* Hover durumunda metin rengi kırmızı olacak */
    transition: 1s;
}

.div{ 
    padding-top: 40px;
    background-color:#F9F5E7;
    text-align: center;
}

.main{
    background-image: url(fotograflar/Leaf\ 4.jpeg);
    background-position: center;
}

.home{
    min-height:100vh;
    background:url(fotograflar/kale.jpg) no-repeat;
    background-size: cover;
    background-position: center;
 
}
.home .content h1{
    font-size: 80px;
    padding-top: 80px;
    padding-left: 100px;
    color:#561C24;

}

.sınır{
    margin-left: 70px;
} 

nav ul li a{
    color:#C7B7A3;
    text-decoration: none;
    margin-left: 35px;
    padding: 5px;
  
}

nav{
    background-color: #561C24;
}
nav ul{
    text-align: center;
}

.miras{
    padding: 25px;
}

@media (max-width: 767px) {
    .miras .row {
      display: flex;
      flex-direction: column;
    }
  
    .miras .col-8,
    .miras .col-4 {
      width: 100%;
    }
  }
  
  